
personal_portfolio/personal_portfolio/__pycache__/__init__.cpython-38.pyc
personal_portfolio/personal_portfolio/__pycache__/settings.cpython-38.pyc
*.pyc
personal_portfolio/personal_portfolio/__pycache__/wsgi.cpython-38.pyc
personal_portfolio/personal_portfolio/__pycache__/urls.cpython-38.pyc
*.pyc
personal_portfolio/personal_portfolio/__pycache__/wsgi.cpython-38.pyc
personal_portfolio/personal_portfolio/__pycache__/wsgi.cpython-38.pyc
personal_portfolio/personal_portfolio/__pycache__/__init__.cpython-38.pyc
personal_portfolio/personal_portfolio/__pycache__/__init__.cpython-38.pyc
personal_portfolio/personal_portfolio/__pycache__/settings.cpython-38.pyc
